<div id="band" class="container-no-homepages text-center">

  <h1 id="tableLabel">Users</h1>

  <p>This component demonstrates all available users (only for Admins).</p>

  <p *ngIf="!users"><em>Loading...</em></p>

  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="users">
    <thead>
      <tr>
        <th> Firstname</th>
        <th> Lastname</th>
        <th> Email</th>
        <th> Phonenumber</th>
        <th> Address</th>
        <th> Postcode</th>
        <th> Status</th>
        <th> Role</th>
        <th> Registration</th>






      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>{{ user.adress }}</td>
        <td>{{ user.postcode }}</td>
        <td>{{ user.status }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.registrationDate }}</td>




      </tr>
    </tbody>
  </table>
  </div>
