<div class="container-no-homepages ">
<h1 id="tableLabel">Registration</h1>

<p>This component demonstrates register options.</p>

<form method="post">
  <div class="text-danger"></div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="form-group">
        <label class="control-label">First Name</label>
        <input class="form-control" />
        <span class="text-danger"></span>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="form-group">
        <label class="control-label">Last Name</label>
        <input class="form-control" />
        <span class="text-danger"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="form-group">
        <label class="control-label">Email</label>
        <input class="form-control" />
        <span class="text-danger"></span>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="form-group">
        <label class="control-label">Phone Number</label>
        <input class="form-control" />
        <span class="text-danger"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="form-group">
        <label class="control-label">Password</label>
        <input class="form-control" />
        <span class="text-danger"></span>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="form-group">
        <label class="control-label">Confirm Password</label>
        <input class="form-control" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="form-group">
        <label class="control-label">Address</label>
        <input class="form-control" />
      </div>
    </div>
    <div class="col-sm-4 col-md-2">
      <div class="form-group">
        <label class="control-label">Postcode</label>
        <input class="form-control" />
      </div>
    </div>
    <div class="col-sm-4 col-md-2">
      <div class="form-group">
        <label class="control-label">Role</label>
        <select class="form-control"></select>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Register</button>
</form>
</div>
