<div class="container-no-homepages">

  <h1 id="tableLabel">Bonuses</h1>

  <p>This component demonstrates all available bonuses.</p>

  <p *ngIf="!bonuses"><em>Loading...</em></p>

  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="bonuses">
    <thead>
      <tr>
        <th>Description</th>
        <th>Price</th>
        <th>Amount</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let bonus of bonuses">
        <td>{{ bonus.description }}</td>
        <td>{{ bonus.price }}</td>
        <td>{{ bonus.amount }}</td>


      </tr>
    </tbody>
  </table>
  </div>
